{% extends "ContactBoxBundle:Person:base.html.twig" %}

{% block title %}ContactBoxBundle:Address:addAddress{% endblock %}

{% block body %} 
    <div class="container">

        {{ parent() }}   
        <h3>{{ person.surname }} {{ person.name }} - dodaj nowy adres </h3>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}
