{% extends "ContactBoxBundle:Person:base.html.twig" %}

{% block title %}ContactBoxBundle:PersonGroup:showAllGroups{% endblock %}

{% block body %}
    <div class='container'>     
        {{ parent() }}     
        <h3>Liczba grup w skrzynce kontaktowej: {{ groups | length }}</h3>

        <table class="table">

            <tr>
                <th>L.P.</th>
                <th>Nazwa grupy</th>
                <th>Detale</th>
            </tr>
            {% for group in groups %}
                <tr><td>{{ group.id }} </td>
                    <td>  {{ group.name }} </td>
                    {#                    <td> <a href='{{ path("contactbox_person_showperson", {"id": person.id}) }}' >
                                                <button class="btn btn-default btn-xs dropdown-toggle">{{ person.name }}</button> </a> 
                                            <a href='{{ path("contactbox_person_deleteperson", {"id": person.id}) }}' >
                                                <button class="btn btn-default btn-xs dropdown-toggle">Usuń</button> </a>
                                        </td>#}
                </tr>
            {% else %}
                Brak grup w bazie.
            {% endfor %}
        </table>

    </div>
{% endblock %}
