<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <style>
                body {
                    background-image: url('/bundles/ContactBoxBundle/img/grey/grey.png');
                }
            </style>
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

            <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block menu %} 
                <a href='{{ path("contactbox_person_index") }}' ><button class="btn btn-small">Strona główna</button> </a>

                {% if is_granted('ROLE_USER') %}
                    <a href='{{ path("contactbox_person_showallpersons") }}' ><button class="btn btn-small">Moje kontakty</button> </a>
                {% else %}
                    <a href='{{ path("contactbox_person_showallpersons") }}' ><button class="btn btn-small">Wyświetl kontakty</button> </a>
                {% endif %}

                <a href='{{ path("contactbox_person_addperson") }}' ><button class="btn btn-small">Dodaj kontakt</button> </a>
                <a href='{{ path("contactbox_person_findperson") }}' ><button class="btn btn-small">Wyszukaj osobę</button> </a>
                <a href='{{ path("contactbox_persongroup_showallgroups") }}' ><button class="btn btn-small">Wyświetl grupy</button> </a>
                <a href='{{ path("contactbox_persongroup_addgroup") }}' ><button class="btn btn-small">Dodaj grupę</button> </a>
                <a href="https://github.com/ccwrc" target="_blank"><button class="btn btn-small">destroy the world</button> </a>

                {% if is_granted('ROLE_USER') %}
                    <a href='{{ path("fos_user_security_logout") }}' ><button class="btn btn-small">Wyloguj</button> </a>
                {% else %}
                    <a href='{{ path("fos_user_security_login") }}' ><button class="btn btn-small">Zaloguj</button> </a>
                {% endif %}

            {% endblock %}
        {% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
