{% extends "ContactBoxBundle:Person:base.html.twig" %}

{% block title %}ContactBoxBundle:Person:showPerson{% endblock %}

{% block body %} 

    <div class='container'>
        {{ parent() }}
        <h3>Detale: {{ person.name }} {{ person.surname }} </h3>

        <div class='col-md-12'>

            L.P.: {{ person.id }} <br/>
            Imię: {{ person.name }} <br>
            Nazwisko: {{ person.surname }} <br/>
            Opis: {{ person.description }} <br/> {# btn btn-small #}
            <a href='{{ path("contactbox_person_editperson", {"id": person.id}) }}' >
                <button class="btn btn-default btn-xs dropdown-toggle">Edycja</button> </a>
            <a href='{{ path("contactbox_person_deleteperson", {"id": person.id}) }}' >
                <button class="btn btn-default btn-xs dropdown-toggle">Usuń</button> </a>
            <br/><br/>

            <h4>Telefony:</h4>
            {% for phone in person.phones %} {# ew. można: if per.fon length >0 #}
                telefon: {{ phone.number }}  
                ({{ phone.type }}) <br/>
            {% else %}
                Brak telefonów
            {% endfor %}

            <h4>Maile:</h4>
            {% for email in person.emails %} 
                mail: {{ email.address }}  
                ({{ email.type }}) <br/>
            {% else %}
                Brak maili
            {% endfor %}

            <h4>Adresy:</h4>
            {% for address in person.addresses %} 
                Miasto: {{ address.city }} 
                Ulica: {{ address.street }} <br>
                Numer domu: {{ address.houseNumber }} 
                Numer mieszkania: {{ address.flatNumber }} <br/>
                <a href='{{ path("contactbox_address_editaddress", {"id": person.id, "addressId": address.id}) }}' >
                    <button class="btn btn-default btn-xs dropdown-toggle">Edytuj</button> </a>
                <a href='{{ path("contactbox_address_deleteaddress", {"id": person.id, "addressId": address.id}) }}' >
                    <button class="btn btn-default btn-xs dropdown-toggle">Usuń</button> </a>
                <br/><br/>
            {% else %}
                Brak adresów
            {% endfor %}
            <a href='{{ path("contactbox_address_addaddress", {"id": person.id}) }}' >
                <button class="btn btn-default btn-xs dropdown-toggle">Dodaj adres</button> </a>

        </div>
    </div>
{% endblock %}
