{% extends "::base.html.twig" %}

{% block title %}ContactBoxBundle:Person:showAllPersons{% endblock %}

{% block body %} 
    <div class='container'>
        <h3>Skrzynka: pokaż wszystkie</h3>

        Liczba osób w skrzynce kontaktowej: {{ persons | length }}

        <table class="table">

            <tr>
                <th>L.P.</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Opis</th>
                <th>Detale</th>
            </tr>
            {% for person in persons %}
                <tr><td>{{ person.id }} </td>
                    <td>  {{ person.name }} </td>
                    <td> {{ person.surname }} </td>
                    <td> {{ person.description }} </td>
                    <td> <a href='{{ path("contactbox_person_showperson", {"id": person.id}) }}' ><button class="btn btn-small">Kliknij</button> </a> </td>
                </tr>
            {% else %}
                Brak osób w bazie.
            {% endfor %}
        </table>

    </div>
{% endblock %}
