{% extends "ContactBoxBundle:Person:base.html.twig" %}

{% block title %}ContactBoxBundle:Person:showPerson{% endblock %}

{% block body %} 
    <div class='container'>
        {{ parent() }}

        <h3>Detale: {{ person.name }} {{ person.surname }} </h3>

        <div class='col-md-12'>

            L.P.: {{ person.id }} <br/>
            Imię: {{ person.name }} <br>
            Nazwisko: {{ person.surname }} <br/>
            Opis: {{ person.description }} <br/> 
            Grupy: 
            {% for group in person.groups %}
                {{ group.name }} 
            {% else %}
                Brak grup
            {% endfor %} <br/>

            <a href='{{ path("contactbox_person_editperson", {"id": person.id}) }}' >
                <button class="btn btn-default btn-xs dropdown-toggle">Edycja</button> </a>
            <a href='{{ path("contactbox_person_deleteperson", {"id": person.id}) }}' >
                <button class="btn btn-default btn-xs dropdown-toggle">Usuń</button> </a>
            <br/><br/>

            <h4>Telefony:</h4>
            {% for phone in person.phones %} {# ew. można: if per.fon length >0 #}
                {{ phone.number }}  ({{ phone.type }}) 
                <a href='{{ path("contactbox_phone_editphone", {"id": person.id, "phoneId": phone.id}) }}' >
                    <button class="btn btn-default btn-xs dropdown-toggle">Edytuj</button> </a>
                <a href='{{ path("contactbox_phone_deletephone", {"id": person.id, "phoneId": phone.id}) }}' >
                    <button class="btn btn-default btn-xs dropdown-toggle">Usuń</button> </a>
                <br/>
            {% else %}
                Brak telefonów
            {% endfor %}
            <a href='{{ path("contactbox_phone_addphone", {"id": person.id}) }}' >
                <button class="btn btn-default btn-xs dropdown-toggle">Dodaj telefon</button> </a>

            <h4>Maile:</h4>
            {% for email in person.emails %} 
                {{ email.address }}  ({{ email.type }})  
                <a href='{{ path("contactbox_email_editemail", {"id": person.id, "emailId": email.id}) }}' >
                    <button class="btn btn-default btn-xs dropdown-toggle">Edytuj</button> </a>
                <a href='{{ path("contactbox_email_deleteemail", {"id": person.id, "emailId": email.id}) }}' >
                    <button class="btn btn-default btn-xs dropdown-toggle">Usuń</button> </a>
                <br/>
            {% else %}
                Brak maili
            {% endfor %}
            <a href='{{ path("contactbox_email_addemail", {"id": person.id}) }}' >
                <button class="btn btn-default btn-xs dropdown-toggle">Dodaj e-mail</button> </a>

            <h4>Adresy:</h4>
            {% for address in person.addresses %} 
                Miasto: {{ address.city }} 
                Ulica: {{ address.street }} <br>
                Numer domu: {{ address.houseNumber }} 
                Numer mieszkania: {{ address.flatNumber }}  
                <a href='{{ path("contactbox_address_editaddress", {"id": person.id, "addressId": address.id}) }}' >
                    <button class="btn btn-default btn-xs dropdown-toggle">Edytuj</button> </a>
                <a href='{{ path("contactbox_address_deleteaddress", {"id": person.id, "addressId": address.id}) }}' >
                    <button class="btn btn-default btn-xs dropdown-toggle">Usuń</button> </a>
                <br/>
            {% else %}
                Brak adresów
            {% endfor %}
            <a href='{{ path("contactbox_address_addaddress", {"id": person.id}) }}' >
                <button class="btn btn-default btn-xs dropdown-toggle">Dodaj adres</button> </a>

        </div>
    </div>
{% endblock %}
